body {
	background-color: white;
}

div{



	background-color: white;
    text-align: center;
}
div{

.p 
    background-color: yellow;
}

div{


.p 

 	background-color: blue;
 	text-align: center;
 }

div{

.body
	background-color: red;
 }

div{
 
 .p
	background-color: white;
}

div{


.p
	background-color: green;
}
