body {
	background-color: white;
}


.centeralign{
    text-align: center;
}

.yellowbackground{
	background-color: yellow;
}

h3{
	text-align: center;
}

.bluebackground{
	background-color: blue;
}

.whitetext{
	color:white;
}

.yellowtext{
	color:yellow;
}


form { 
	display: inline-block; 
}


.entrance{
	 margin: 15%;
	 text-align: center
}